.Menu {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Menu li {
  list-style: none;
}
.Menu a {
  color: #e0e0e0;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border-bottom: 1px dotted #444;
}
.Menu a:hover,
.Menu a:focus,
.Menu a:active {
  border-bottom: 1px dotted #e0e0e0;
}
